<launch>
  <arg name="test"        default="false"/>
  <arg name="rviz"        default="true"/>
  <arg name="rvizconfig"  default="$(find ocs2_mobile_manipulator_ros)/rviz/mobile_manipulator.rviz"/>
  <arg name="urdf_file"   default="$(find ocs2_robotic_assets)/resources/mobile_manipulator/urdf/mobile_manipulator.urdf"/>
  <arg name="is_analytical" default="true" />

  <param name="robot_description_osc2" command="$(find xacro)/xacro --inorder $(arg urdf_file)"/>
  <param name="use_gui" value="true"/>

  <node if="$(arg is_analytical)" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="robot_description" to="/robot_description_osc2" />
  </node>
  <node if="$(arg test)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <remap from="robot_description" to="/robot_description_osc2" />
  </node>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" if="$(arg rviz)" />
</launch>
